
<body> 

<div class="container">
    <div class="p-4 m-4"
        <div class="mx-auto">
            <form action="">
                <!--email-->
            <div class="form-group"  
            label for="exampleInputEmail1">Email address</label>
            <input type="email" name = "email" class="form-control" id=""  placeholder="Enter email"> 
            
             <!--Username-->
             <div class="form-group"  
             label for="">Username</label>
             <input type="text" name = "Username" class="form-control" id=""  placeholder="Username">

              <!--Password-->
            <div class="form-group"  
            label for="--Password--">password</label>
            <input type="password" name = "password" class="form-control" id=""  placeholder="password">
            

            
            </form>
        </div>
    </div>
</div>        



<a href="home/templates/home/register.html">Register here</a>

</body>